.heroSection {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("../../assets/2.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  font-family: Manrope, sans-serif;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
    margin-left: 10%;
    z-index: 20;
    max-width: 50vw;

    .companyName {
      font-size: 2rem;
      font-weight: bolder;
      color: #ffffff;
      margin-bottom: 1rem;
      font-style: italic;
      background-image: linear-gradient(to right, #ffffff, #c4f6fc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope, sans-serif;
      
    }

    .description {
      font-weight: 700;
      color: #ffffff;
      line-height: 1.1;
      margin-bottom: 1.5rem;
      font-size: 3.2rem;
      max-width: 40vw;
      background-image: linear-gradient(to right, #ffffff, #ccccf8);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope, sans-serif;
    }

    .additionalText {
      font-size: 1.2rem;
      line-height: 1.2;
      color: #ffffff;
      font-weight: 500;
      max-width: 32vw;
      background-image: linear-gradient(to right, #ffffff, #b9bafd);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope, sans-serif;
      
    }
  }
  
  @media (max-width: 768px) {
    height: auto;
    padding: 2rem;
    text-align: left;
    
    .container {
      max-width: 100%;
      margin-bottom: 1rem;
      position: relative;
      right: 2.5rem;
      
      .description {
        font-size: 2rem;
        max-width: none;
      }
      
      .additionalText {
        max-width: none;

      }
    }
  }
}