.footer {
    background-color: #152f2e;
    color: #cec8c8;
    padding: 2.5rem 0;
  
    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      // gap: 15rem;
    }
  
    .leftSection {
      .companyName {
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
      }
    }
  
    .rightSection {
      .copyright {
        font-size: 0.8rem;
      }
    }

      @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .leftSection {
      .companyName {
        text-align: left;
      }
    }

    .rightSection {
      text-align: right;
    }
  }
  }
  